/*---------FONTS---------------*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://allfont.net/allfont.css?fonts=montserrat-light);
@import url(http://allfont.net/allfont.css?fonts=montserrat-hairline);

//Font Variables
$mont: 'Montserrat', arial;
$mont-light:'Montserrat Light', arial;
$mont-hair:'Montserrat Hairline', arial;

/*------------General Styles---------------- */

$brand: #ffe1bd;

@mixin dash($x:1rem auto){
  content:"";
  display:block;
  width: 3.5rem;
  border-bottom:0.1875rem solid black;
  margin:$x;
}


body {
	background: white;
	color: #656565;
	font-family: $mont-light;
	font-size: 1.125rem;
}


//hr styles
.thin-hr{
  border:0;
  border-top: 0.25px solid #d8d8d8;
}

.thick-hr{
  border:0;
  border-bottom: 3px solid #d8d8d8;
}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------HEADER---------------*/


header{
  max-width: 1150px;
  margin: 4rem auto;
  text-align: center;
  &:after{
    clear:both;
    content:"";
    display:table;
  }
  @media (min-width:768px){
    text-align: left;
    max-width: 1150px;
  }
  h1{
      font-family: $mont;
      font-size: 1.875rem;
      font-weight: 700;
      color: black;
      text-decoration: none;
     a{
       color: black;
       text-decoration: none;
     }
      @media (min-width:768px){
        float:left;
      }
  }
    ul{
      font-family: $mont;
      font-size: 1.125rem;
      list-style: none;
      margin-top: 0.5rem;
      @media (min-width:768px){
        float:right;
        text-align: right;
    }
  }
    li{
      display: inline;
      a{
        padding: 0 0.625rem;
        color: #989898;
        text-decoration: none;
        &:hover{
        text-decoration: none;
        color:black;
        }
    }
    }
}


/*-------------FOOTER---------------*/


footer{
  .contact-info{
    background-color:black;
    padding:5.5rem 1rem;
    color:white;
    .wrapper{
      max-width: 1150px;
      margin: 0 auto;
      
    }
  h2{
    font-family: $mont-hair;
    font-size: 3.750rem;
    text-align: center;
    margin-bottom: 5.5rem;
  }
  .contact-details{
    font-family: $mont-light;
    font-size: 1.125rem;
    margin-bottom: 3rem;
    @media (min-width:768px){
      float:left;
      width: 50%;
    }
    p{
      text-indent: -1rem;
      margin-left: 2rem;
      margin-bottom: 2.5rem;
      line-height: 1.25;
      i{
        margin-right: 1rem;
      }
    }
    
    li{
     display:inline-block;
      a{
        display: block;
        background-color: white;
        color: black;
        border-radius: 100%;
        width:2rem;
        height: 2rem;
        padding:.5rem;
        margin: .5rem;
        
      }
    }
    
    }
    form{
      &:after{
          clear:both;
          content:"";
          display:table;
      @media (min-width:768px){
      float:right;
      width: 50%;
        
    }
    }
      input[type="text"]{
        background-color: black;
        color:white;
        display: block;
        border: none;
        border-bottom:0.0625rem solid #333333;
        margin-bottom: 3rem;
        font-family: $mont-light;
        font-size: 1.125rem;
      }
      textarea{
        display: block;
        background-color: black;
        color:white;
        border:none;
        border-bottom:0.0625rem solid #333333;
        margin-bottom: 3rem;
        font-family: $mont-light;
        font-size: 1.125rem;
      }
      input[type="submit"]{
        background-color:white;
        border:0 none;
        color: black;
        border-radius: 1.5rem;
        display: block;
        padding: 0.75rem 3rem;
        font-family: $mont-light;
        font-size: 1.125rem;
        
      }
    }
  }

}

.copyright{
  text-align: center;
  margin: 3.125rem 1rem;
  p{
    font-family: $mont-light;
    font-size: 0.875rem;
    color: #656565;
  }
  p:first-child{
    font-family: $mont;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 0.3125;
    color: black;
  }
}

/*---------------------------------------*/

/*-------------HOME PAGE---------------*/

/*---------------------------------------*/


/*---------MAIN---------------*/

.hero{
  background-color: $brand;
  color: black;
  max-width:1150px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 9rem 0 6.25rem;
  font-family: $mont-light;
  font-size: 1.5rem;
  h2{
    font-size: 3rem;
    font-weight:700;
    font-family: $mont;
    &:after{
      @include dash (2rem auto);
    }
  }
  p{
      line-height: 1.5;
    }
  a{
      background-color: black;
      color: white;
      text-decoration: none;
      display: inline-block;
      margin: 1.25rem;
      padding: 0.75rem 3rem;
      width: auto;
      border-radius: 1.5rem;
      font-family: $mont-light;
      font-size: 1.125rem;
    }
}

/*---------WHAT WE DO SECTION---------------*/


.what-we-do, .services{
  h2{
    font-family: $mont-hair;
    font-size: 3.750rem;
    text-align: center;
    margin: 5.5rem 0;
  }

  .wrapper{
    max-width: 1150px;
    margin: 0 auto 6.25rem;
    &:nth-child(odd){
      @media (min-width: 768px){
        flex-direction:row-reverse;
      }
    }
    @media (min-width: 768px){
      display: flex;
    }
    div{
      margin: 0 1.25rem;
      @media (min-width: 768px){
       width: 50%;
      
      }
    }
      
      img{
      width: 100%;
      height: auto;
    }
    
    
    h3{
    font-family: $mont;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.3125rem;
    color: black;
      &:after{
      @include dash(1.875rem 0);
    }
      span{
        font-family: $mont-light;
        font-size: 1.875rem;
        color: black;
        
      }
    }
    p{
      color: #656565;
      font-family: $mont-light;
      font-size: 1.125rem;
      line-height: 1.5;
      
    }
    a{
      background-color: white;
      color: black;
      text-decoration: none;
      display: inline-block;
      padding: 0.75rem 2.75rem;
      width: auto;
      border: 0.0625rem solid #d8d8d8;
      border-radius: 1.5rem;
      font-family: $mont-light;
      font-size: 1.125rem;
      margin-top: 3.125rem;
    }
  }
}

/*---------BEST WORK SECTION---------------*/


.best-work, .works{
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
  h2{
    font-family: $mont-hair;
    font-size: 3.750rem;
    text-align: center;
    margin: 5.5rem 0;
  }
  .wrapper{
    img{
      width: 100%;
      height: auto;
      margin-bottom:1rem;
    }
    div{
      margin:0 1rem;
      @media (min-width: 768px){
        display: inline-block;
        max-width: 30.5%;
        margin: 0 0.5rem;
      }
  }
  }
  .a-more-dark{
      background-color: black;
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 0.75rem 3rem;
      width: auto;
      border-radius: 1.5rem;
      font-family: $mont-light;
      font-size: 1.125rem;
      margin: 2.125rem 0 3.125rem;
    }
}

/*---------OUR TEAM SECTION---------------*/

.our-team{
  background-color: $brand;
  color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 5.5rem 0;
  font-family: $mont-light;
  font-size: 1.5rem;
  h2{
      font-family: $mont-hair;
      font-size: 3.750rem;
      text-align: center;
      margin-bottom: 5.5rem;
      }
  div{
    margin:auto;
  }
  .wrapper{
    max-width: 1150px;
    margin: 0 auto;
    @media (min-width: 768px){
      display:flex;
      
    }
    h3{
      font-size: 2.5rem;
      font-weight:700;
      font-family: $mont;
      margin: 1rem;
      &:after{
        @include dash;
    }
    }
    p{
      font-family: $mont-light;
      font-size: 1.125rem;
      margin-bottom: 2rem;
    }
    img{
      border-radius: 100%;
    }
  }
}

/*---------CLIENTS SAY SECTION---------------*/

.clients-say{
  max-width: 1150px;
  margin: 0 auto;
  .wrapper{
    max-width: 1150px;
    margin: 0 auto;
    @media (min-width: 768px){
      display:flex;
      flex-direction: row-reverse;
    }
    div{
      @media (min-width: 768px){
        max-width: 50%;
      }
    }
  }
    h2{
      font-family: $mont-hair;
      font-size: 3.750rem;
      text-align: center;
      margin: 5.5rem;
    }
    .testimonial-text{
      p{
        font-family: $mont-light;
        font-size: 1.125rem;
        color: #656565;
        margin: 1rem;
      }
    }
      .testimonial-person{
        text-align: right;
        h3{
          font-size: 2.5rem;
          font-weight:700;
          font-family: $mont;
          margin: 1rem;
          &:after{
            @include dash(1rem);
            position:absolute;
            right:0;
            @media (min-width:768px){
              position: sticky;
              right: 50%
              
            }
          }
        }
        p{
          font-family: $mont-light;
          font-size: 1.125rem;
          margin: 2rem 1rem;
          
      }
    }
  .img-wrapper{
    margin: 0 auto 8rem;
    @media (min-width:768px){
        display:flex;
      }
    .left-photos{
      text-align:right;
    }

    div{
      display: inline-block;
      max-width: 49%;
      height: auto;
      @media (min-width:768px){
        max-width: 100%;
      }
      
    }
    img{
      margin:  0.25rem 0.5rem;
      width: 98%;
      height: auto;
      @media (min-width:768px){
        width:266px;
        height:140px;
    }
  }
  }
}

/*---------------------------------------*/

/*-------------ABOUT PAGE---------------*/

/*---------------------------------------*/





/*---------ABOUT US SECTION---------------*/

.about-us{
  h2{
    font-family: $mont-hair;
    font-size: 3.750rem;
    text-align: center;
    margin: 5.5rem 0;
  }

  .wrapper{
    max-width: 1150px;
    margin: 0 auto 6.25rem;
    &:nth-child(odd){
      @media (min-width: 768px){
        flex-direction:row-reverse;
      }
    }
    @media (min-width: 768px){
      display: flex;
    }
    div{
      margin: 0 1rem;
      @media (min-width: 768px){
       width: 50%;
      }
    }
    .shift-right{
      @media (min-width:768px){
    margin-left: 4rem;
        }
      }
    img{
      width: 100%;
      height: auto;
      margin-bottom: 3.125rem;
    }
    h3{
      font-family: $mont;
      font-weight: 700;
      font-size: 3rem;
      color: black;
      margin-bottom: 3.125rem;
        &:before{
        @include dash(0 0 3.125rem);
      }
    }
    p{
      color: #656565;
      font-family: $mont-light;
      font-size: 1.125rem;
      line-height: 1.5;
      margin-bottom: 3.125rem;
      &:before{
        @include dash(0 0 3.125rem);
    }
    }
    a{
      background-color: white;
      color: black;
      text-decoration: none;
      display: inline-block;
      padding: 0.75rem 2.75rem;
      width: auto;
      border: 0.0625rem solid #d8d8d8;
      border-radius: 1.5rem;
      font-family: $mont-light;
      font-size: 1.125rem;
      margin-top: 3.125rem;
    }
  }
}

/*---------OUR TEAM SECTION IS FROM HOME---*/


/*---------COUNTS SECTION---------------*/

.counts{
  color: black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 5.5rem 0;
  font-family: $mont-light;
  font-size: 1.5rem;
  .wrapper{
    max-width: 1150px;
    margin: 0 auto;
    div{
    max-width:380px;
    width:30%;
    display:inline-block;
    }
    h3{
      font-size: 2.5rem;
      font-weight:700;
      font-family: $mont;
      margin: 1rem;
      &:after{
        @include dash;
    }
    }
    p{
      font-family: $mont-light;
      font-size: 1.125rem;
      margin-bottom: 2rem;
    }
  }
}

/*---------INSTAGRAM SECTION---------------*/

.instagram{
  margin: 0 auto;
  text-align: center;
  h2{
    font-family: $mont-hair;
    font-size: 3.750rem;
    text-align: center;
    margin: 5.5rem 0;
  }
  .wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img{
      max-width: 268px;
      width:100%;
      height:auto;
      margin: 0.5rem;
    }
}
  a{
      background-color: white;
      color: black;
      text-decoration: none;
      display: inline-block;
      padding: 0.75rem 2.75rem;
      width: auto;
      border: 0.0625rem solid #d8d8d8;
      border-radius: 1.5rem;
      font-family: $mont-light;
      font-size: 1.125rem;
      margin: 3.125rem auto 5.5rem;
    }
}


/*---------------------------------------*/

/*-------------SERVICES PAGE---------------*/

/*---------------------------------------*/

//styles from home page, what we do section



/*---------------------------------------*/

/*-------------WORKS PAGE---------------*/

/*---------------------------------------*/

//styles from home page, best work section

.works-nav{
  max-width: 1150px;
  margin: 4rem auto 5.5rem;
  text-align: center;
  }
  ul{
    font-family: $mont-light;
    font-size: 1.125rem;
    list-style: none;
  }
    li{
      display: inline;
      a{
        padding: 0 0.625rem;
        color: #989898;
        text-decoration: none;
        &:hover{
        color:black;
        }
    }
}

        


/*---------------------------------------*/

/*-------------BLOG PAGE---------------*/

/*---------------------------------------*/




/*---------------------------------------*/

/*-------------CONTACT PAGE---------------*/

/*---------------------------------------*/
